In [45]:
# -------------------------------------------- #
# A - Data load
# -------------------------------------------- #

import unicodecsv
import pandas as pd
from IPython.display import display, HTML
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# function read csv
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

#load CSV as list
filename = 'Version simplifié - Viz For Social Good 360 impact data.csv'
alist = read_csv(filename)

len(alist)

214

In [46]:
df = pd.DataFrame(alist)
df.head()

,Country,Sub Region 1,Sub Region 2,Country_Code,female_unpaid_domestic_work,male_unpaid_domestic_work,Wife_decision_health,Wife_decision_household_purchase,Women_in_food_decision,death_injury_15_34_female,...,cooking_inside,cooking_outdoors,fuel_crops,fuel_charcoal,fuel_dung,fuel_electricity,fuel_gas,fuel_straw,fuel_wood,clean_fuel
0,Afghanistan,Middle East,Other Middle Eastern Countries,AFG,,,4.8,2.2,,33.1,...,55.3,17.4,6.2,0.7,19.2,0.2,32.6,16.9,23.2,32.44
1,Albania,Eastern Europe,Eastern Europe,ALB,21.74,3.47,19,5.6,,31.5,...,92.9,1.9,,0.1,,12.5,55.7,,31.5,77.42
2,Algeria,North Africa,Arab States,DZA,22.08,3.75,,,,26.4,...,,,,,,,,,,92.62
3,Andorra,Western Europe,Western Europe,AND,,,,,,,...,,,,,,,,,,100
4,Angola,Africa (Sub-Saharan),Central Africa,AGO,,,21.6,32.6,,13.5,...,60.8,13.6,,15.2,0.4,1.4,48.4,0.1,32.7,48.05

In [47]:
# -------------------------------------------- #
# B - Data parsing
# -------------------------------------------- #

df.replace('', np.nan, inplace = True)
#df['female_unpaid_domestic_work'] = df['female_unpaid_domestic_work'].astype(float)

In [48]:
attribute_to_float = ['female_unpaid_domestic_work', 'male_unpaid_domestic_work', 'Wife_decision_health',
                  'Wife_decision_household_purchase', 'Women_in_food_decision', 'death_injury_15_34_female',
                  'death_injury_15_34_male', 'death_injury_35_59_female', 'death_injury_35_59_male',
                  'female_mortality_poisonning', 'male_mortality_poisonning', 'male_mortality_poisonning',
                  'female_mortality_air_pollution', 'male_mortality_air_pollution',
                  'cooking_inside', 'cooking_outdoors', 'fuel_crops', 'fuel_charcoal', 'fuel_dung', 'fuel_electricity',
                  'fuel_gas', 'fuel_straw', 'fuel_wood', 'clean_fuel']

for attribute in attribute_to_float :
    df[attribute] = df[attribute].astype(float)

In [49]:
df.describe()

,female_unpaid_domestic_work,male_unpaid_domestic_work,Wife_decision_health,Wife_decision_household_purchase,Women_in_food_decision,death_injury_15_34_female,death_injury_15_34_male,death_injury_35_59_female,death_injury_35_59_male,female_mortality_poisonning,...,cooking_inside,cooking_outdoors,fuel_crops,fuel_charcoal,fuel_dung,fuel_electricity,fuel_gas,fuel_straw,fuel_wood,clean_fuel
count,80.000000,78.000000,67.000000,67.000000,34.000000,178.000000,178.000000,178.000000,178.000000,178.000000,...,58.000000,58.000000,42.000000,64.000000,46.000000,68.000000,68.000000,48.000000,67.000000,186.000000
mean,12.344500,12.714359,26.859701,16.085075,77.852941,25.922472,49.634831,7.665169,25.922472,0.869101,...,44.406897,23.508621,1.307143,10.770312,1.945652,4.970588,29.807353,2.777083,47.779104,65.167151
std,6.809754,6.151385,16.850673,8.742967,14.561869,11.848977,13.815369,4.352624,11.848977,0.926692,...,28.326554,20.491772,3.884201,13.236694,3.647691,10.871997,32.481413,7.280526,25.613109,37.703354
min,1.250000,1.250000,3.500000,2.200000,43.100000,5.100000,20.600000,2.900000,5.100000,0.000000,...,3.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.570000
25%,6.320000,8.557500,14.300000,8.500000,71.975000,15.600000,39.200000,5.525000,15.600000,0.200000,...,18.700000,7.075000,0.000000,0.375000,0.000000,0.175000,2.250000,0.100000,29.650000,27.977500
50%,10.695000,12.710000,23.200000,16.000000,80.600000,26.300000,49.150000,6.900000,26.300000,0.400000,...,42.950000,17.300000,0.100000,2.850000,0.100000,0.600000,16.450000,0.300000,51.800000,85.715000
75%,17.710000,18.732500,38.250000,21.000000,88.500000,32.775000,58.775000,8.650000,32.775000,1.375000,...,65.825000,36.850000,0.550000,18.600000,2.275000,2.375000,49.300000,1.625000,68.150000,98.467500
max,27.990000,24.100000,80.200000,40.700000,94.400000,84.900000,94.500000,47.600000,84.900000,3.900000,...,97.900000,77.700000,24.300000,49.600000,19.200000,53.000000,99.800000,44.600000,87.700000,100.000000

In [52]:
# More chart with seaborn : https://seaborn.pydata.org/tutorial.html
#sns.relplot(x="cooking_inside", y="clean_fuel", size="female_mortality_air_pollution", data=df);